<title>{{ site.title }} • {{ site.subtitle }}</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<!--[if lte IE 8]>
<script src="assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="assets/css/main.min.css"/>
<!--[if lte IE 9]>
<link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
<!--[if lte IE 8]>
<link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
<style>
acronym {
    cursor: help;
}
.text-center {
    text-align: center;
}
.split-even {
    display: flex;
}
.split-even > div {
    flex: 1;
}
.split-even > div:not(:last-child) {
    border-right: 1px dotted;
    margin-right: 10px;
    margin-bottom: 1em;
}
#navpanel ul {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#navpanel a {
    display: block;
    padding: 1em;
    text-align: center;
    border: 0;
}
#navpanel a:hover {
    background: #34a58e;
    color: #fff !important;
}
#rates details {
    font-size: smaller;
    text-align: left;
}
#rates summary,
#rates td {
    text-align: right;
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
    border-radius: 20px;
    box-shadow: 0px 0px 50px white;
    padding-left: 10px;
    transition: box-shadow 2s;
}
</style>
