<section id="socials">
    <h2 id="links">Links</h2>
    <p>See more of me elsewhere, and follow me online.</p>
    <ul class="icons text-center">
        {% if site.social_urls.facebook %}
            <li>
                <a target="_blank" href="{{ site.social_urls.facebook }}" class="icon fa-5x fa-facebook">
                    <span class="label">Facebook</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.twitter %}
            <li>
                <a target="_blank" href="{{ site.social_urls.twitter }}" class="icon fa-5x fa-x-twitter" title="X/Twitter">
                    <span class="label">X/Twitter</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.instagram %}
            <li>
                <a target="_blank" href="{{ site.social_urls.instagram }}" class="icon fa-5x fa-instagram">
                    <span class="label">Instagram</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.dribbble %}
            <li>
                <a target="_blank" href="{{ site.social_urls.dribbble }}" class="icon fa-5x fa-dribbble">
                    <span class="label">Dribbble</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.github %}
            <li>
                <a target="_blank" href="{{ site.social_urls.github }}" class="icon fa-5x fa-github">
                    <span class="label">GitHub</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.linkedin %}
            <li>
                <a target="_blank" href="{{ site.social_urls.linkedin }}" class="icon fa-5x fa-linkedin">
                    <span class="label">LinkedIn</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.linktree %}
            <li>
                <a target="_blank" href="{{ site.social_urls.linktree }}" class="icon fa-5x fa-link" title="Linktr.ee">
                    <span class="label">Linktr.ee</span>
                </a>
            </li>
        {% endif %}
        {% if site.social_urls.wishlist %}
            <li>
                <a target="_blank" href="{{ site.social_urls.wishlist }}" class="icon fa-5x fa-gift" title="Wishlist">
                    <span class="label">Wishlist</span>
                </a>
            </li>
        {% endif %}
    </ul>
</section><!-- #socials -->
